// format was causing font not to render, so disabled for now

@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/AvenirNextLTPro-Regular.otf"),
        // format("otf");
    url("../assets/fonts/alternative-files/AvenirNextLTPro.ttf");
        // format("ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/AvenirNextLTPro-Demi.otf"),
        // format("otf");
    url("../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf");
        // format("ttf");   
    font-weight: 600;
}

@font-face {
    font-family: "Avenir";
    src: url("../assets/fonts/AvenirNextLTPro-Bold.otf"),
        // format("otf");
    url("../assets/fonts/alternative-files/AvenirNextLTProBold.ttf");
        // format("ttf");
    font-weight: 700;
}