@use 'fonts';

* {
    box-sizing: border-box;
    margin: 0;
    // margin-right: 0;
    font-family: "Avenir";
}

/* .page {
    margin: 0;
} */

.hero, .main, .footer {
    // margin-left: 0;
    // margin-right: 0;
    // padding-left: 16px;
    // padding-right: 16px;
}

.site {
    margin: 0;
}