* {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
}

.page {
    margin: 0;
}

.hero, main, footer {
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
}