@use 'variables' as *;
@use './fonts';

.main {
    width: 100%;
}

.about {
    padding: 0 20px;

    &__title {
        font-size: 33px;
        font-weight: 600;
        color: $bandsite-black;
        padding: 28px 0 12px 0;
    }

    &__photo-container {
        overflow: hidden;
        height: 48.5vw;
        position: relative;
    }

    &__photo {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        padding: 0;
    }

    &__quote {
        color: $bandsite-black;
        font-size: 19px;
        font-weight: 600;
        line-height: 30px;
        padding: 18px 0 4px 0;
    }

    &__author {
        color: $bandsite-black;
        font-weight: 600;
        font-size: 19px;
        line-height: 30px;
    }

    &__description {
        display: flex;
        flex-direction: column;
    }

    &__description-title {
        color: $bandsite-darkblack;
        font-size: 20px;
        font-weight: 550;
        padding-top: 29px;
        padding-bottom: 20px;
    }

    &__description-paragraph {
        color: $bandsite-black;
        font-size: 17.75px;
        line-height: 24px;
        font-weight: 400;
        padding: 0 0 20px 0;
    }
}

.photo {
    background-color: $alabaster;
    display: flex;
    flex-flow: column wrap;
    padding: 0 20px;

    &__title {
        font-size: 33px;
        font-weight: 600;
        color: $bandsite-black;
        padding: 30px 0 12px 0;
    }

    &__image {
        width: 100%;
        height: auto;
        padding: 0 0 20px 0;
        filter: grayscale(100);
        transition: filter 0.3s ease-in-out;
        
        &:hover {
            filter: grayscale(0);
        }
    }
}