@use 'variables';
@use './fonts';
@import 'mixins';

.nav {
    background-color: $bandsite-black;
    top: 0;
    width: 100%;

    &__container {
        margin: 0;
        display: flex;
        flex-flow: column wrap;
        align-items: center;

        @include tablet {
            display: flex;
            flex-direction: row;
        }
    }

    &__hyperlink {
        text-decoration: none;
        color: $white;
        width: 100%;
        height: 100%;

        &--inactive {
            color: $silver;

            &:hover {
                color: $white;
            }
        }   
    }
    
    &__logo-container {
        padding: 1.25rem 1.25rem 0 1.25rem;

        @include tablet {
            padding: 1.5rem 2rem 1.25rem 2.25rem ;
        }
        @include desktop {
            padding: 1.875rem 2.5rem 1.625rem 7.75rem;
        }
    }

    &__logo {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.063rem;
        text-align: center;

        @include desktop {
            font-size: 1.5rem;
        }
    }

    &__links {
        list-style-type: none;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.375rem;
        letter-spacing: 0.031rem;
        width: 100%;
        height: 2.875rem;
        padding: 0;
        display: flex;
        align-items: center;

        @include tablet {
            width: auto;
        }
        @include desktop {
            font-size: 0.875rem;
        }
    }

    &__link {
        width: 100%;
        text-align: center;

            @include tablet {
                margin: 0 2rem;
            }
            @include desktop {
                margin: 0 1rem;
            }

        & a {
            display: block;
            padding: 0.625rem;

            @include tablet {
                padding: 1.5rem 0;
            }

            @include desktop {
                padding: 1.875rem 0;
            }
        }

        &--active {
        font-weight: 600;
        border-bottom: 0.238rem solid $white;
            
            @include tablet {
                border-bottom: 0.225rem solid $white;
            }
        }

        &:hover {
            border-bottom: 0.238rem solid $white;

            @include tablet {
                border-bottom: 0.225rem solid $white;
            }
        }
    }
}

.hero {
    background-image: url("../assets/images/hero-bio.jpg");
    width: 100%;
    height: 58.7vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba($bandsite-black, 0.5);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
        @include tablet {
            background-position: 0% 100%;
        }
        @include desktop {
            height: 49.25vw;
            background-position: 0% 24%;
        }
        
    &__title {
        font-size: 1.875rem;
        font-weight: 550;
        padding: 0 1rem;
        color: $white;

        @include tablet {
            font-size: 3.875rem;
            padding: 0 2.25rem;
        }
        @include desktop {
            padding: 0 7.875rem;
        }
    }
}