@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf"), url("../assets/fonts/alternative-files/AvenirNextLTPro.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf"), url("../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf"), url("../assets/fonts/alternative-files/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
.nav {
  background-color: #323232;
  top: 0;
  width: 100%;
}
.nav__container {
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.nav__hyperlink {
  text-decoration: none;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
}
.nav__hyperlink--inactive {
  color: #AFAFAF;
}
.nav__hyperlink--inactive:hover {
  color: #FFFFFF;
}
.nav__logo {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 20px 20px 0 20px;
  text-align: center;
}
.nav__links {
  list-style-type: none;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.5px;
  width: 100%;
  height: 46px;
  padding: 0;
  display: flex;
  align-items: center;
}
.nav__link {
  width: 100%;
  text-align: center;
}
.nav__link a {
  display: block;
  padding: 10px;
}
.nav__link--active {
  font-weight: 600;
  border-bottom: 3.8px solid #FFFFFF;
}
.nav__link:hover {
  border-bottom: 3.8px solid #FFFFFF;
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  width: 100%;
  height: 58.7vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.hero__title {
  font-size: 32.5px;
  font-weight: 550;
  padding: 0 20px;
  color: #FFFFFF;
}

.main {
  width: 100%;
}

.about {
  padding: 0 20px;
}
.about__title {
  font-size: 33px;
  font-weight: 600;
  color: #323232;
  padding: 28px 0 12px 0;
}
.about__photo-container {
  overflow: hidden;
  height: 48.5vw;
  position: relative;
}
.about__photo {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  padding: 0;
}
.about__quote {
  color: #323232;
  font-size: 19px;
  font-weight: 600;
  line-height: 30px;
  padding: 18px 0 4px 0;
}
.about__author {
  color: #323232;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
}
.about__description {
  display: flex;
  flex-direction: column;
}
.about__description-title {
  color: #000000;
  font-size: 20px;
  font-weight: 550;
  padding-top: 29px;
  padding-bottom: 20px;
}
.about__description-paragraph {
  color: #323232;
  font-size: 17.75px;
  line-height: 24px;
  font-weight: 400;
  padding: 0 0 20px 0;
}

.photo {
  background-color: #FAFAFA;
  display: flex;
  flex-flow: column wrap;
  padding: 0 20px;
}
.photo__title {
  font-size: 33px;
  font-weight: 600;
  color: #323232;
  padding: 30px 0 12px 0;
}
.photo__image {
  width: 100%;
  height: auto;
  padding: 0 0 20px 0;
  filter: grayscale(100);
  transition: filter 0.3s ease-in-out;
}
.photo__image:hover {
  filter: grayscale(0);
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  width: 100%;
}

.contact {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  padding: 0 20px;
  position: relative;
}
.contact__title {
  font-size: 33px;
  font-weight: 600;
  padding: 36px 0 20px 0;
}
.contact__social__icon {
  width: 30px;
  height: 30px;
  margin: 0 32px 0 0;
}

.agent__info {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}
.agent__info__title {
  font-weight: 600;
  padding: 28px 0 0 0;
}
.agent__info__description {
  font-size: 17px;
  padding: 22px 0 0 0;
}
.agent__info__location {
  font-size: 17.5px;
}
.agent__info__email-container {
  padding: 20px 0 4px 0;
}
.agent__info__email {
  text-decoration: none;
  font-size: 17px;
  color: #FFFFFF;
}

.nav__logo--footer {
  font-size: 31px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 75px 0 0 0;
}

.copyright {
  font-size: 14px;
  font-weight: 400;
  padding: 16px 0 22px 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Avenir";
}

/* .page {
    margin: 0;
} *//*# sourceMappingURL=bio.css.map */