// mobile's perfect resemblance to mockup is at width: 390px
// tablet's perfect resemblance to mockup is at width: 1024px
// this decision was made from measuring the width of the mockup pdfs

@import './partials/variables';
@import './partials/mixins';
@import './partials/fonts';
@import './partials/site-header';
@import './partials/site-footer';
@import './partials/general';

.main {
    width: 100%;
}

.about {
    padding: 0 1rem;
    
    @include tablet {
        padding: 0;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        color: $bandsite-black;
        padding: 1.5rem 0 0.5rem 0;

        @include tablet {
            font-size: 2.25rem;
            padding: 3.375rem 2.25rem 1.5rem 2.25rem;
        }
        @include desktop {
            padding: 3.25rem 3.063rem 2.125rem 7.875rem;
        }
    }

    &__photo-container {
        overflow: hidden;
        height: 48.5vw;
        position: relative;

        @include tablet {
            height: 40vw;
        }
        @include desktop {
            height: 35.5vw;
        }
    }

    &__photo {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        padding: 0;

        @include tablet {
            padding: 0 5.875rem;
            transform: translateY(2rem);
        }
        @include desktop {
            padding: 0 13.5rem;
            transform: translateY(3.375rem);
        }
    }

    &__quote {
        color: $bandsite-black;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.5rem;
        padding: 0.75rem 0 0.25rem 0;

        @include tablet {
            font-size: 1.406rem;
            line-height: 2rem;
            padding: 2rem 5.875rem 0.625rem 5.875rem;
        }
        @include desktop {
            padding: 2.25rem 24.5rem 1rem 13.5rem;
        }
    }

    &__author {
        color: $bandsite-black;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.5rem;

        @include tablet {
            font-size: 1rem;
            padding: 0 5.875rem;
        }
        @include desktop {
            padding: 0 13.5rem;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
    }
    
    &__description-title {
        color: $bandsite-darkblack;
        font-size: 0.875rem;
        font-weight: 550;
        padding: 1.5rem 0 1rem 0;

        @include tablet {
            font-size: 1.5rem;
            padding: 2.75rem 5.875rem 1.25rem 5.875rem;
        }
        @include desktop {
            padding: 3.25rem 8rem 1.5rem 13.5rem;
        }

    }

    &__description-paragraphs {
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 5rem;
        }
        @include desktop {
            padding: 0 13.5rem;
        }
    }
    
    &__description-paragraph {
        color: $bandsite-black;
        font-size: 0.828rem;
        line-height: 1.375rem;
        font-weight: 400;
        padding: 0 0 1.25rem 0;

        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
            padding: 0 0.875rem 2rem 0.875rem;
        }
        @include desktop {
            font-size: 0.875rem;
            line-height: 1.375rem;
            width: 50%;
            padding: 0 1rem 2rem 0rem;
        }
    }
}

.photo {
    background-color: $alabaster;
    display: flex;
    flex-flow: column wrap;
    padding: 0 1rem;

    @include tablet {
        padding: 0 2.25rem 1.313rem 2.25rem;
    }
    @include desktop {
        padding: 0 7.875rem 1.313rem 7.875rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        color: $bandsite-black;
        padding: 1.5rem 0 0.5rem 0;

        @include tablet {
            font-size: 2.25rem;
            padding: 3.25rem 0 2.125rem 0;
        }
    }

    &__images {
        @include tablet {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: space-between;
        }
    }

    &__image {
        width: 100%;
        height: auto;
        padding: 0 0 0.75rem 0;
        filter: grayscale(100);
        transition: filter 0.3s ease-in-out;
        
        @include tablet {
            width: 31%;
            margin: 0.56vw 0;
        }
        @include desktop {
            width: 32%;
            margin: 0.4vw 0;
        }

        &:hover {
            filter: grayscale(0);
        }
    }
}