@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf"), url("../assets/fonts/alternative-files/AvenirNextLTPro.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf"), url("../assets/fonts/alternative-files/AvenirNextLTProDemi.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf"), url("../assets/fonts/alternative-files/AvenirNextLTProBold.ttf");
  font-weight: 700;
}
.nav {
  background-color: #323232;
  top: 0;
  width: 100%;
}
.nav__container {
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__container {
    display: flex;
    flex-direction: row;
  }
}
.nav__hyperlink {
  text-decoration: none;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
}
.nav__hyperlink--inactive {
  color: #AFAFAF;
}
.nav__hyperlink--inactive:hover {
  color: #FFFFFF;
}
.nav__logo-container {
  padding: 20px 20px 0 20px;
}
@media screen and (min-width: 768px) {
  .nav__logo-container {
    padding: 29px 49px;
  }
}
@media screen and (min-width: 1028px) {
  .nav__logo-container {
    padding: 38px 50px 38px 180px;
  }
}
.nav__logo {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}
@media screen and (min-width: 1028px) {
  .nav__logo {
    font-size: 31px;
  }
}
.nav__links {
  list-style-type: none;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.5px;
  width: 100%;
  height: 46px;
  padding: 0;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__links {
    width: auto;
  }
}
@media screen and (min-width: 1028px) {
  .nav__links {
    font-size: 18px;
  }
}
.nav__link {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .nav__link {
    margin: 0 37px;
  }
}
@media screen and (min-width: 1028px) {
  .nav__link {
    margin: 0 25px;
  }
}
.nav__link a {
  display: block;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .nav__link a {
    padding: 34px 0;
  }
}
@media screen and (min-width: 1028px) {
  .nav__link a {
    padding: 43px 0;
  }
}
.nav__link--active {
  font-weight: 600;
  border-bottom: 3.8px solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav__link--active {
    border-bottom: 4px solid #FFFFFF;
  }
}
.nav__link:hover {
  border-bottom: 3.8px solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav__link:hover {
    border-bottom: 4px solid #FFFFFF;
  }
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  width: 100%;
  height: 58.7vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.hero__title {
  font-size: 32.5px;
  font-weight: 550;
  padding: 0 20px;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 80px;
    padding: 0 49px;
  }
}
@media screen and (min-width: 1028px) {
  .hero__title {
    padding: 0 180px;
  }
}

.main {
  width: 100%;
}

.about {
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 0;
  }
}
.about__title {
  font-size: 33px;
  font-weight: 600;
  color: #323232;
  padding: 28px 0 12px 0;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 48px;
    padding: 66px 49px 24px 49px;
  }
}
.about__photo-container {
  overflow: hidden;
  height: 48.5vw;
  position: relative;
}
.about__photo {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .about__photo {
    padding: 0 128px;
  }
}
.about__quote {
  color: #323232;
  font-size: 19px;
  font-weight: 600;
  line-height: 30px;
  padding: 18px 0 4px 0;
}
@media screen and (min-width: 768px) {
  .about__quote {
    font-size: 30px;
    line-height: 42px;
    padding: 40px 128px 10px 128px;
  }
}
.about__author {
  color: #323232;
  font-weight: 600;
  font-size: 19px;
  line-height: 30px;
}
@media screen and (min-width: 768px) {
  .about__author {
    font-size: 21.5px;
    line-height: 42px;
    padding: 0 128px;
  }
}
.about__description {
  display: flex;
  flex-direction: column;
}
.about__description-title {
  color: #000000;
  font-size: 20px;
  font-weight: 550;
  padding: 29px 0 20px 0;
}
@media screen and (min-width: 768px) {
  .about__description-title {
    font-size: 32px;
    padding: 64px 128px 30px 128px;
  }
}
@media screen and (min-width: 768px) {
  .about__description-paragraphs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 116px;
  }
}
.about__description-paragraph {
  color: #323232;
  font-size: 17.75px;
  line-height: 24px;
  font-weight: 400;
  padding: 0 0 20px 0;
}
@media screen and (min-width: 768px) {
  .about__description-paragraph {
    font-size: 18.5px;
    line-height: 29px;
    padding: 0 14px 40px 14px;
  }
}

.photo {
  background-color: #FAFAFA;
  display: flex;
  flex-flow: column wrap;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .photo {
    padding: 0 49px 21px 49px;
  }
}
.photo__title {
  font-size: 33px;
  font-weight: 600;
  color: #323232;
  padding: 30px 0 12px 0;
}
@media screen and (min-width: 768px) {
  .photo__title {
    font-size: 48px;
    padding: 66px 0 24px 0;
  }
}
@media screen and (min-width: 768px) {
  .photo__images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
  }
}
.photo__image {
  width: 100%;
  height: auto;
  padding: 0 0 20px 0;
  filter: grayscale(100);
  transition: filter 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .photo__image {
    width: 31.1%;
    margin: 0.56vw 0;
  }
}
.photo__image:hover {
  filter: grayscale(0);
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  width: 100%;
}

.contact {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  padding: 0 20px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .contact {
    padding: 0;
  }
}
.contact__title-social {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact__title {
  font-size: 33px;
  font-weight: 600;
  padding: 36px 0 20px 0;
}
@media screen and (min-width: 768px) {
  .contact__title {
    font-size: 48px;
    padding: 18px 38px 20px 49px;
  }
}
@media screen and (min-width: 768px) {
  .contact__social {
    padding: 26px 0 24px 0;
  }
}
.contact__social__icon {
  width: 30px;
  height: 30px;
  margin: 0 32px 0 0;
}
@media screen and (min-width: 768px) {
  .contact__social__icon {
    width: 31px;
    height: 31px;
    margin: 0 32px 0 0;
  }
}

@media screen and (min-width: 768px) {
  .agent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 70px 21px 49px;
  }
}
.agent__info {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .agent__info {
    font-size: 16px;
    line-height: 25px;
  }
}
.agent__info__title {
  font-weight: 600;
  padding: 28px 0 0 0;
}
.agent__info__description {
  font-size: 17px;
  padding: 22px 0 0 0;
}
@media screen and (min-width: 768px) {
  .agent__info__description {
    font-size: 18.5px;
    padding: 35px 0 0 0;
  }
}
.agent__info__location {
  font-size: 17.5px;
}
@media screen and (min-width: 768px) {
  .agent__info__location {
    font-size: 19px;
  }
}
.agent__info__email-container {
  padding: 20px 0 4px 0;
}
@media screen and (min-width: 768px) {
  .agent__info__email-container {
    padding: 35px 0 0 0;
  }
}
.agent__info__email {
  text-decoration: none;
  font-size: 17px;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .agent__info__email {
    font-size: 18.5px;
  }
}

.nav__logo--footer {
  font-size: 31px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 75px 0 0 0;
}
@media screen and (min-width: 768px) {
  .nav__logo--footer {
    padding: 0 0 0 30px;
    align-self: flex-end;
    top: 200px;
    order: -1;
    width: 250px;
    transform: translatey(180%);
  }
}

.copyright {
  font-size: 14px;
  font-weight: 400;
  padding: 16px 0 22px 0;
}
@media screen and (min-width: 768px) {
  .copyright {
    font-size: 18px;
    font-weight: 400;
    padding: 44px 0 50px 49px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Avenir";
}/*# sourceMappingURL=bio.css.map */