@import './partials/variables';
@import './partials/mixins';
@import './partials/fonts';
@import './partials/site-header';
@import './partials/site-footer';
@import './partials/general';

.hero {
    background-image: url("../assets/images/hero-shows.jpg");
    width: 100%;
    height: 58.7vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba($bandsite-black, 0.5);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
        @include tablet {
            background-position: 0% 100%;
        }
        @include desktop {
            height: 49.25vw;
            background-position: 0% 24%;
        }
        
    &__title {
        font-size: 1.875rem;
        font-weight: 550;
        padding: 0 1rem;
        color: $white;

        @include tablet {
            font-size: 3.875rem;
            padding: 0 2.25rem;
        }
        @include desktop {
            padding: 0 7.875rem;
        }
    }
}