@import './partials/variables';
@import './partials/mixins';
@import './partials/fonts';
@import './partials/site-header';
@import './partials/site-footer';
@import './partials/general';

.hero {
    background-image: url("../assets/images/hero-shows.jpg");
    width: 100%;
    height: 95vw;
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba($bandsite-black, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
        @include tablet {
            height: 65vw;
            background-position: 0% 50%;
        }
        @include desktop {
            height: 49.25vw;
            background-position: 0% 31.5%;
            flex-direction: row;
            align-items: center;
        }
    
    &__titles {
        color: $white;
        padding: 0 5rem 0 1rem;
        width: 75%;
        @include tablet {
            padding: 0 0 1.5rem 2.25rem;   
        }
        @include desktop {
            padding: 0 0 0 7.875rem;
            width: 60%;
        }
    }

    &__subtitle {
        font-size: 0.875rem;
        font-weight: 300;
        padding: 1rem 0;

        @include tablet {
            font-size: 1.563rem;
            padding: 0 0 1.5rem 0;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 550;
        
        @include tablet {
            font-size: 3.875rem;
        }
    }

    &__song {
        padding: 0.75rem;
        width: 100%;
        height: 45%;
        border: none;

        @include tablet {
            width: 64%;
            height: 20%;
            padding: 0 2.25rem;
        }
        @include desktop {
            padding: 0 7.875rem;
        }
    }
}

.shows {
    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        color: $bandsite-darkblack;
        padding: 1.5rem 1rem 0 1rem;

        @include tablet {
            font-size: 2.25rem;
            padding: 3.375rem 2.25rem 1.5rem 2.25rem;
        }
        @include desktop {
            padding: 3.25rem 3.063rem 2.125rem 7.875rem;
        }
    }

    &__container {
        padding: 0 0 1rem 0;
    }
}

.show {
    box-sizing: border-box;
    border: none;
    border-bottom: 0.063rem solid $mercury;
    padding: 1rem;

    &:hover {
        background: $alabaster;
        transition: all 0.5s ease;
    }
    
    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    &__container {
        padding: 0 0 0.75rem 0;
    }

    &__title {
        font-size: 0.563rem;
        font-weight: 600;
        letter-spacing: 0.025rem;
        color: $silver;
        padding: 0 0 0.5rem 0;

        @include tablet {
            font-size: 0.7rem;
        }

        &:not(:first-child) {
            @include tablet {
                display: none;
            }
        }
    }

    &__info-date {
        color: $bandsite-black;
        font-size: 0.75rem;
        font-weight: 600;
    }

    &__info {
        font-size: 0.75rem;
    }

    &__button {
        font-size: 0.825rem;
        font-weight: 600;
        letter-spacing: 0.02rem;
        color: $white;
        background-color: $bandsite-black;
        border: none;
        border-radius: 0.25rem;
        padding: 1rem 2rem 0.75rem 2rem;
        width: 100%;
        text-align: center;
        text-decoration: none;

        &:hover {
            background-color: $bandsite-darkblack;
        }

        @include tablet {
            width: 12rem;
        }
    }
}

.selected {
    background: $mercury;
}